body
{
    background-color: green;

}

table {
    background-color: rgb(0, 166, 255);
}

td {
    width: 300px;
    height: 50px;
    background-color: white;
    border: 2px solid white;
    border-radius: 26px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 1em;
    margin: 30px;
    transition: 0.2s;
}

td:hover {
    background-color: white;
    border: 2px solid black;
    transition: 0.2s;
    color: black;
}

input {
    width: 300px;
    height: 50px;
    background-color: white;
    border: 2px solid white;
    border-radius: 26px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 1em;
    transition: 0.2s;
}


